<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Todo Name</th>
      <th scope="col">Tasks Done</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each_with_index do |todo, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <% if todo.completed? %>
          <td><del><%= link_to todo.name, todo_path(todo) %><del></td>
        <% else %>
          <td><%= link_to todo.name, todo_path(todo) %></td>
        <% end %>
        <td><%= todo.tasks_completed %> of (<%= todo&.tasks.count %>)</td>
        <td><%= todo.created_at.strftime("at %I:%M%p") %></td>
        <td>
          <%= link_to edit_todo_path(todo) do %>
            <%= fa_icon "edit" %>
          <% end %>

          <%= link_to todo, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon "trash" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
  <%= render 'todo_form', todo: @todo %>
</div>
